body{
	top: 30px;
	left: 20%;
	right: 30%;
	position: absolute;
	background: #ddd;
}
.topbar{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	height: 30px;
	background: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid #fff;
	-webkit-box-shadow:  
}
#map{
	width: 30%;
	position: fixed;
	top: 30px;
	right: 0px;
	bottom: 0px;
}
#sidebar{
	width: 20%;
	position: fixed;
	top: 30px;
	left: 0px;
	bottom: 0px;
	background: #fff;
}
#text{
	width: 40%;
}
#content{
	height: 1000px;
}